@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    color: rgb(26, 188, 156);
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

h5 {
    color: rgb(26, 188, 156);
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.container {
    width: 80%;
    margin: 0 auto;
}


table {
    width: 75%;
    margin: 0 auto;
    gap: 20px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

caption {
    background-color: rgb(26, 188, 156);
    padding: 1% 1%;
    color: rgb(236, 240, 241);
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid rgb(236, 240, 241);
}

th {
    background-color: rgb(26, 188, 156);
    color: white;
    text-align: left;
    padding-left: 1%;
    font-weight: bold;
}

table,
caption,
th,
td {
    border-collapse: collapse;
}

table tbody tr {
    border-bottom: 1px solid rgb(236, 240, 241);
}

table tbody tr:last-of-type {
    border-bottom: rgb(26, 188, 156);
}

th,
td {
    padding: 12px 15px;
    border-bottom: 1px solid #ccc; /* Ajoute une ligne entre chaque cellule */
}

/* TEST */
/* table tbody tr:nth-of-type(even) {
    background-color: rgb(236, 240, 241);
} */

table tbody tr {
    background-color: rgb(236, 240, 241);
}

input[type="submit"] {
    width: 75px;
    height: 35px;
    border: 1px solid;
    background: rgb(52, 152, 219);
    border-radius: 25px;
    font-size: auto;
    color: rgb(236, 240, 241);
    font-weight: 900;
    cursor: pointer;
    outline: none;
}

form {
    text-align: center;
}

input[type="submit"]:hover {
    border-color: rgb(18, 88, 134);
    transition: .5s;
}
